@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* defining a theme, we can apply this to any item in the page */
@theme{
    --color-background: #050030;
    --color-primary: #ebebed;
}
